python >= 3.11.2
streamlit
pandas
numpy
folium 
matplotlib
geopandas
pandas
datetime
folium.plugins
folium.plugins.TimeSliderChoropleth
folium.plugins.HeatMapWithTime
folium.plugins.HeatMap
streamlit
streamlit.components.v1
streamlit_folium.folium_static
final_functions.mapping
final_functions.time_series
